
.btn {
  margin-top: 10px;
  color: white;
  background-color: #0038A8 ;
  text-decoration: none;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #0038A8 ;
  text-decoration: none;
}

.card-title {
  font-family: "agency-fb", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.card {
  border: 2px solid black;
  width: 400px;
  border-radius: 10px;
}


.card-img-top {
  width: 396px;
  height: 313px;
  border: 3px solid black;
}

.small {
  font-family: "roboto", sans-serif;
font-weight: 400;
font-style: normal;
color: black;
}

.hoteltype{
  background-color: #001E44;
  margin-top: 40px;
  margin-bottom: 15px;
 font-family: "agency-fb", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  color: white;
}


.title {
    font-family: "agency-fb", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 60px;
  color: white;
}

