  .event1 {
    font-size: 30px;
    background-color: #FFD9F1;
    padding: 4px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;
  }
  
  .event2 {
    font-size: 30px;
    background-color: #FFD9F1;
    padding: 4px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;

  }
  
  .event3 {
    font-size: 30px;
    background-color: #FFD9F1;
    padding: 4px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;
  }