  .event1 {
    font-size: 28px;
    background-color: #001E44;
    padding: 16px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;
color: white;
margin: 5px;
  }
  
  .event2 {
    font-size: 26px;
    background-color: #001E44;
    padding: 10px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;
color: white;

  }
  
  .event3 {
    font-size: 31px;
    background-color: #001E44;
    padding: 18px;
    margin: 5px;
     font-family: "roboto-slab", serif;
font-weight: 500;
font-style: normal;
color: white;
  }

  .photo {
  margin-bottom: 15px;
}

