html {
     overflow-x: hidden;
}

.navbar {
    background-color: #001E44;
}

.navbar-brand {
  color: white;
 font-family: "roboto-slab", serif;
font-weight: 300;
font-style: normal;
    font-size: 40px;
}

.nav-link {
  font-family: "roboto-condensed", sans-serif;
font-weight: 300;
font-style: normal;
    color: white;
    font-size: 35px;
}

.nav-link:hover, .navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    color: white;
    background-color: white;
}

.hero-section {
    margin-top: 10%;
    padding: 5rem 0;
    color: #001E44;
    background-color: rgb(255, 255, 255,0.5);
}

.hero-section h1 {
     font-family: "roboto-slab", serif;
font-weight: 300;
font-style: normal;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #001E44;
}

.hero-section .lead {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: #001E44;
}

.hero-image img {
    transition: transform 0.3s ease;
}

.hero-image img:hover {
    transform: scale(1.02);
}

.homepage {
    background-color: #001E44;
    color: white;
}

.homepage:hover {
    background-color: #001E44;
    color: white;
}

  .hero-section-table .container > .row > div {
    padding: 15px; /* margin inside the div */
  }

  .hero-section-table table {
    width: 100%;        /* table fills the div */
    border-collapse: collapse;
    box-sizing: border-box;
  }

  /* Optional: add some cell padding for readability */
 .hero-section-table table th,
 .hero-section-table table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: white;
  }

  .hero-section-table {
        margin-top: 10%;
    padding: 5rem 0;
    color: #001E44;
    background-color: rgba(255, 255, 255, 0.5);
  }